@import "tailwindcss";

@theme {
  --color-background: #181922;
  --color-background-secondary: #1f2937;
  --color-background-tertiary: #252a36;
  --color-primary: #087f8c;
  --color-primary-light: #0a9dae;
  --color-primary-dark: #066a75;
  --color-danger: #EF4444;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-low-priority: #10b981;
  --color-medium-priority: #f59e0b;
  --color-high-priority: #EF4444;
  --color-text-primary: #f3f4f6;
  --color-text-secondary: #9ca3af;
  --color-text-muted: #6b7280;
  --color-border: #433e3f;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background);
  color: var(--color-text-primary);
  font-family: Arial, Helvetica, sans-serif;
}
